body{
	background-color: #F3F3F4;
}
.login{
	background-color: #242834;
}
a:link{
	text-decoration: none;
}
body{
    text-transform: uppercase;
}
input, textarea,button{
    text-transform: uppercase;   
}
@media screen and (min-width: 768px){ 
	.side-bar{
		position:fixed;
		width: 250px;
		height: 100%;
		overflow-x:hidden;
		overflow-y: auto;
		font-size:13px;
		font-weight: bold;
		z-index: 1000px;
		background-color: #118BCC;
		-webkit-transition: width 0.5s ease;
		-moz-transition: width 0.5s ease;
		-o-transition: width 0.5s ease;
		-ms-transition: width 0.5s ease;
		transition: width 0.5s ease;
	}
		.side-bar > .profile{
			margin-top: 20px;
			margin-left: 10px;
		}
		.side-bar > .profile > div{
			position: absolute;
			top: 30px;
			right: 5px;
			text-align: right;
			color:#F5F5F5;
			width:130px;
			
		}
		.side-bar > .profile > img{
			width: 100px;
			height: 100px;
			border:1px solid #F5F5F5;
			border-radius: 50px 50px;
		}
		.side-bar > .btns{
			margin-top: 20px;
			margin-bottom: 20px;
			text-align: center;
		}
			.side-bar > .btns > a >.fa-power-off{
				color:red;
			}
		.side-bar>ul{
			padding: 0px 5px 0px 10px;
			margin:0;
		}
			.side-bar ul li a{
				text-decoration: none;
				color:#F5F5F5;
			}
			.side-bar ul li a:hover{
				/*color:#CCCCCC;*/
				opacity: .50;
			}
		.side-bar li{
			list-style-type: none;
		}
		.active > a{
			color:#CCCCCC;
		}
	.btn-side-bar{
		position:fixed;
		margin-left:251px;
		border:1px solid #CCCCCC;
		border-radius:3px;
		background-color: #118BCC;
		text-align: center;
		width: 30px;
		z-index: 10001px;
		-webkit-transition: margin-left 0.5s ease;
		-moz-transition: margin-left 0.5s ease;
		-o-transition: margin-left 0.5s ease;
		-ms-transition: margin-left 0.5s ease;
		transition: margin-left 0.5s ease;
	}
		.btn-side-bar:hover{
			box-shadow: inset 0 0 3px 1px rgba(0,0,0,.15);
			cursor: pointer;
		}
		.btn-side-bar i{
			color:#CCCCCC;
		}
	.click{
		width: 0;
	}
	.click ~ .container-fluid, .click ~ .btn-side-bar{
		margin-left: 0px;
	}
	.container-fluid{
		padding-top: 35px;
		margin-left: 250px;
		-webkit-transition: margin-left 0.5s ease;
		-moz-transition: margin-left 0.5s ease;
		-o-transition: margin-left 0.5s ease;
		-ms-transition: margin-left 0.5s ease;
		transition: margin-left 0.5s ease;
	}
}
@media screen and (max-width: 780px){
	.side-bar{
		position:fixed;
		width: 0;
		height: 100%;
		overflow-x:hidden;
		overflow-y: auto;
		font-size:13px;
		font-weight: bold;
		background-color: #242834;
		z-index: 1000px;
		-webkit-transition: width 0.5s ease;
		-moz-transition: width 0.5s ease;
		-o-transition: width 0.5s ease;
		-ms-transition: width 0.5s ease;
		transition: width 0.5s ease;
		z-index: 1000;
	}
		.side-bar > .profile{
			margin-top: 20px;
			margin-left: 10px;
		}
			.side-bar > .profile > div{
				position: absolute;
				top: 30px;
				right: 5px;
				text-align: right;
				color:#F5F5F5;
				width:130px;
			}
			.side-bar > .profile > img{
				width: 100px;
				height: 100px;
				border:1px solid #F5F5F5;
				border-radius: 50px 50px;
			}
		.side-bar > .btns{
			margin-top: 20px;
			margin-bottom: 20px;
			text-align: center;
		}
			.side-bar > .btns > a >.fa-power-off{
				color:red;
			}
		.side-bar>ul{
			padding: 0px 5px 0px 10px;
			margin:0;
		}
			.side-bar ul li a{
				text-decoration: none;
				color:#F5F5F5;
			}
			.side-bar ul li a:hover{
				color:#CCCCCC;
			}
		.side-bar li{
			list-style-type: none;
		}
		.active > a{
			color:#CCCCCC;
		}
	.btn-side-bar{
		position:fixed;
		margin-left:0;
		border:1px solid #CCCCCC;
		border-radius:3px;
		text-align: center;
		width: 30px;
		background-color: #242834;
		z-index:1001;
		-webkit-transition: margin-left 0.5s ease;
		-moz-transition: margin-left 0.5s ease;
		-o-transition: margin-left 0.5s ease;
		-ms-transition: margin-left 0.5s ease;
		transition: margin-left 0.5s ease;
	}
		.btn-side-bar:hover{
			box-shadow: inset 0 0 3px 1px rgba(0,0,0,.15);
			cursor: pointer;
		}
		.btn-side-bar i{
			color:#CCCCCC;
		}
	.click{
		width: 251px;
	}
	.click ~ .btn-side-bar{
		margin-left: 250px;
	}
	.container-fluid{
		padding-top: 35px;
		margin-left: 0;
		background-color: #F3F3F4;
		-webkit-transition: margin-left 0.5s ease;
		-moz-transition: margin-left 0.5s ease;
		-o-transition: margin-left 0.5s ease;
		-ms-transition: margin-left 0.5s ease;
		transition: margin-left 0.5s ease;
	}
}
::-webkit-scrollbar {
    margin-right: 5px;
    background-color: #F7F7F7;
    max-width:8px;
    min-width:5px;  
}
::-webkit-scrollbar-thumb {
    border: thin solid #CCC;
    border-radius: 10px;
    background: #CCC;
    box-shadow: 0 0 8px rgba(0,0,0,0.3) inset;
}
    ::-webkit-scrollbar-thumb:hover { 
        background: #A8A8A8; 
    }
::-moz-scrollbar {
    margin-right: 5px;
    background-color: #F7F7F7;
    max-width:8px;
    min-width:5px;  
}
::-moz-scrollbar-thumb {
    border: thin solid #CCC;
    border-radius: 10px;
    background: #CCC;
    box-shadow: 0 0 8px rgba(0,0,0,0.3) inset;
}
    ::-moz-scrollbar-thumb:hover { 
        background: #A8A8A8; 
    }
::-o-scrollbar {
    margin-right: 5px;
    background-color: #F7F7F7;
    max-width:8px;
    min-width:5px;  
}
::-o-scrollbar-thumb {
    border: thin solid #CCC;
    border-radius: 10px;
    background: #CCC;
    box-shadow: 0 0 8px rgba(0,0,0,0.3) inset;
}
    ::-o-scrollbar-thumb:hover { 
        background: #A8A8A8; 
    }
::-ms-scrollbar {
    margin-right: 5px;
    background-color: #F7F7F7;
    max-width:8px;
    min-width:5px;  
}
::-ms-scrollbar-thumb {
    border: thin solid #CCC;
    border-radius: 10px;
    background: #CCC;
    box-shadow: 0 0 8px rgba(0,0,0,0.3) inset;
}
::-ms-scrollbar-thumb:hover { 
        background: #A8A8A8; 
}
.arrow {
	float: right;
}
.fa.arrow:before {
	content: "\f104";
}
.glyphicon.arrow:before {
	content: "\e079";
}
.active > a > .glyphicon.arrow:before {
	content: "\e114";
}
.active > a > .fa.arrow:before {
	content: "\f107";
}
.active > a > .fa.plus-minus:before {
	content: "\f068";
}
.active > a > .fa.plus-times {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.plus-times {
	float: right;
}
.fa.plus-times:before {
	content: "\f067";
}
.plus-minus {
	float: right;
}
.fa.plus-minus:before {
	content: "\f067";
}
.box{
	border:1px solid #cccccc;
	box-shadow: 3px 3px 5px black;
	margin-bottom: 20px;
	background-color: white;
}
.box{
	opacity:0;
	-webkit-transition: opacity 2s ease;
	-moz-transition: opacity 2s ease;
	-ms-transition: opacity 2s ease;
	-o-transition: opacity 2s ease;
	transition: opacity 2s ease;
}
	.box .box-tools{
		border-bottom: 1px solid #cccccc;
		height: 30px;
		margin-bottom: 30px;
	}
		.box  > .box-tools > .box-tool-left{
			/*position: absolute;*/
			margin-left:20px;
			margin-top:5px;
			font-weight: bold;
		}
		.box  > .box-tools > .box-tool-left a{
			color:black;
			text-decoration: none;
		}
		.box .box-tool-right{
			left:500px;
			margin-top:-20px;
		}
		.box .box-tool-right{
			cursor: pointer;
		}
	.box-container{
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 30px;
	}
select{
	height: 26px;
}
input,select,textarea{
	border:1px solid #ccc;
}
table th,td{
	text-align: center;
}
.width-full{
	width: 100%;
}
.width-full:focus{
	border:1px solid #242834;
}
/*Bootstrap-select*/
.btn{
	border-radius: 0 !important;
}
.btn-default{
	border-radius: 0 !important;
}
a.btn1,button.btn1{
	background-color: #242834 !important;
	border:1px solid #cccccc !important;
	border-radius: 0 !important;
	color:white;
	padding:7px !important;
	text-decoration:none;
	margin:0 !important;
}
.btn1:hover{
	background-color: #343A4A !important;
}
/*gallery*/
.progress{
	width: 100%;
	height: 20px;
}
	.progressbar{
		height: 20px;
		width: 0;
		background-color: #242834;
		text-align: center;
		font-weight: bold;
		color:#CCCCCC;
	}
.gallery {
	width: 90%;
	margin: auto;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
	.gallery li {
		margin: 5px;
	}
	.gallery img {
		width: 150px;
		height: 100px;
	}
.gallery>li:hover{
	border:3px solid #242834;
}
	.gallery_selected{
		border:3px solid #242834;	
	}
.modal-dialog{
	width: 95%;
}
.modal-content{
	border-radius: 0px !important;
}
/*Api news*/
.api_news{
	max-height: 200px;
	overflow-y: auto;
}
.api_news_title{
	font-size:16px;
	font-weight: bold;
	border-bottom:1px solid #242834;
	
}
.api_news_title a{
	color: #242834;
}
.api_news_title a:hover{
	color: #596384;
}
.api_news_date{
	font-size: 10px;
}